.page{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 100rpx;
	background-color: rgb(247,247,247);
}
.head{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80rpx;
	/* #ifdef APP-PLUS */
	height: calc(100rpx + var(--status-bar-height));
	padding-top: var(--status-bar-height);
	/* #endif */
	background-color: #FFFFFF;
	.title{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		font-size: 30rpx;
		color: #212121;
	}
	.edit{
		position: absolute;
		right: 20rpx;
		top: 50%;
		/* #ifdef APP-PLUS */
		top: calc(50rpx + var(--status-bar-height));
		/* #endif */
		transform: translate(0,-50%);
		text{
			color: #212121;
			font-size: 26rpx;
		}
	}
}
/* 购物车列表 */
.cart-list{
	width: 100%;
	background-color: #FFFFFF;
	padding: 20rpx 0;
	margin-top: 100rpx;
	/* #ifdef APP-PLUS */
	margin-top: calc(100rpx + var(--status-bar-height));
	/* #endif */
	.list{
		display: flex;
		padding: 0 3%;
		height: 240rpx;
		margin-bottom: 20rpx;
		.check{
			display: flex;
			align-items: center;
			width: 10%;
			height: 100%;
			text{
				font-size: 36rpx;
				color: #333333;
			}
			.icon-checked{
				color: $base;
				// box-shadow: 0 0 10rpx $base;
			}
		}
		.goods{
			display: flex;
			align-items: center;
			width: 90%;
			height: 100%;
			background-color: #FFFFFF;
			box-shadow: 0 0 20rpx #f6f6f6;
			border-radius: 10rpx;
			.thumb{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 30%;
				height: 100%;
				image{
					width: 160rpx;
					height: 160rpx;
                    border-radius: 10rpx;
				}
			}
			.item{
				padding: 10rpx 0;
				width: 70%;
				height: 100%;
				.title{
					display: flex;
					align-items: center;
					width: 100%;
					height: 80rpx;
					text{
						font-size: 26rpx;
						color: #212121;
					}
				}
				.attribute{
					display: flex;
					align-items: center;
					margin-top: 10rpx;
					.attr{
						display: flex;
						align-items: center;
						padding: 0 20rpx;
						height: 40rpx;
						background-color: #f6f6f6;
						border-radius: 10rpx;
						text{
							font-size: 24rpx;
							color: #333333;
						}
						.more{
							display: flex;
							width: 10rpx;
							height: 10rpx;
							border-left: 2rpx solid #333333;
							border-bottom: 2rpx solid #333333;
							transform: rotate(-45deg);
							margin-left: 10rpx;
						}
					}
				}
				.price-num{
					display: flex;
					align-items: center;
					justify-content: space-between;
					height: 80rpx;
					.price{
						display: flex;
						.min{
							color: $base;
							font-size: 24rpx;
						}
						.max{
							font-size: 28rpx;
							color: $base;
							font-weight: bold;
						}
					}
					.num{
						display: flex;
						width: 200rpx;
						height: 40rpx;
						.add{
							display: flex;
							justify-content: center;
							align-items: center;
							width: 40rpx;
							height: 40rpx;
							background-color: #FFFFFF;
							text{
								color: #212121;
								font-size: 24rpx;
							}
						}
						.number{
							display: flex;
							justify-content: center;
							align-items: center;
							width: 120rpx;
							height: 40rpx;
							background-color: #f6f6f6;
							border-radius: 8rpx;
							text{
								font-size: 24rpx;
								color: #212121;
							}
						}
					}
				}
			}
		}
	}
}
/* 为你推荐 */
.recommend-info{
  width: 100%;
  background-color: #f2f2f2;
  .recommend-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100rpx;
    .title{
      display: flex;
      align-items: center;
      image{
        width: 416rpx;
        height: 40rpx;
      }
    }
  }
  .goods-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30rpx;
    .list{
      width: 49%;
      height: 540rpx;
      margin-bottom: 20rpx;
      background-color: #FFFFFF;
      border-radius: 10rpx;
      overflow: hidden;
      .pictrue{
        display: flex;
        justify-content: center;
        width: 100%;
        image{
          height: 350rpx;
        }
      }
      .title-tag{
        // display: flex;
        height: 100rpx;
        padding: 20rpx;
        .tag{
          float: left;
          margin-right: 10rpx;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          white-space: normal;
          font-size: 26rpx;
          line-height: 40rpx;
          text{
            font-size: 24rpx;
            color: #FFFFFF;
            padding: 4rpx 16rpx;
            background: linear-gradient(to right,$base,$change-clor);
            border-radius: 6rpx;
            margin-right: 10rpx;
          }
        }
      }
      .price-info{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 20rpx;
        height: 80rpx;
        .user-price{
          display: flex;
          align-items: center;
          text{
            color: $price-clor;
          }
          .min{
            font-size: 24rpx;
          }
          .max{
            font-size: 32rpx;
          }
        }
        .vip-price{
          display: flex;
          align-items: center;
          image{
            width: 26rpx;
            height: 26rpx;
            margin-right: 10rpx;
          }
          text{
            color: #fcb735;
            font-size: 24rpx;
          }
        }
      }
    }
  }
}
/* 结算 */
.close-account{
	position: fixed;
	left: 0;
	bottom: 100rpx;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100rpx;
	background-color: #FFFFFF;
	border-top: 2rpx solid #f6f6f6;
	.check-total{
		display: flex;
		align-items: center;
		width: 50%;
		height: 100%;
		.check{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40%;
			height: 100%;
			text{
				font-size: 36rpx;
				color: #333333;
			}
			.icon-checked{
				color: $base;
				// box-shadow: 0 0 10rpx $base;
			}
			.all{
				font-size: 24rpx;
				margin-left: 10rpx;
			}
		}
		.total{
			display: flex;
			align-items: center;
			width: 60%;
			height: 100%;
			text{
				font-size: 24rpx;
				color: #333333;
			}
			.price{
				font-weight: bold;
				color: $base;
			}
		}
	}
	.account{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 46%;
		padding-right: 4%;
		.btn-calculate{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 160rpx;
			height: 60rpx;
			background-color: $base;
			border-radius: 60rpx;
			text{
				color: #FFFFFF;
				font-size: 24rpx;
			}
		}
		.btn-del{
			display: flex;
			align-items: center;
			justify-content: space-between;
			.attention{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 140rpx;
				height: 60rpx;
				border: 2rpx solid #EEEEEE;
				border-radius: 60rpx;
				color: #333333;
				font-size: 24rpx;
				margin-right: 20rpx;
			}
			.del{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100rpx;
				height: 60rpx;
				background-color: $base;
				border-radius: 60rpx;
				color: #FFFFFF;
				font-size: 24rpx;
			}
		}
	}
}
