.page{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #f6f6f6;
}

.message-list{
	padding: 0 4%;
	background-color: #FFFFFF;
	border-radius: 0 0 20rpx 20rpx;
	.list{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 140rpx;
		border-bottom: 2rpx solid #f6f6f6;
		.icon-data{
			display: flex;
			align-items: center;
			width: 80%;
			height: 100%;
			.icon{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100rpx;
				height: 100rpx;
				border-radius: 20rpx;
				background-color: rgba(245, 145, 32, 1);
				image{
					width: 60rpx;
					height: 60rpx;
				}
			}
			.data{
				margin-left: 20rpx;
				.title{
					display: flex;
					width: 100%;
					text{
						font-size: 28rpx;
						color: #222222;
					}
				}
				.describe{
					width: 100%;
					margin-top: 10rpx;
					text{
						font-size: 24rpx;
						color: #959595;
					}
				}
			}
		}
		.more{
			display: flex;
			align-items: center;
			text{
				font-size: 28rpx;
				color: #959595;
			}
		}
	}
}