@font-face {
  font-family: 'iconfont';  /* project id 1639347 */
  src: url('https://at.alicdn.com/t/font_1639347_9tnhp28j8vi.eot');
  src: url('https://at.alicdn.com/t/font_1639347_9tnhp28j8vi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1639347_9tnhp28j8vi.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1639347_9tnhp28j8vi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1639347_9tnhp28j8vi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1639347_9tnhp28j8vi.svg#iconfont') format('svg');
}


.iconfont {
	font-family: 'iconfont' !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-fadajing:before {
	content: '\e601';
}

.icon-new:before {
	content: '\e600';
}

.icon-bala:before {
	content: '\e634';
}

.icon-more:before {
	content: '\e61c';
}

.icon-more1:before {
	content: '\e60c';
}

.icon-vip:before {
	content: '\e677';
}

.icon-weinituijian:before {
	content: '\e647';
}

.icon-xiedian:before {
	content: '\e621';
}

.icon-zhizi:before {
	content: '\e602';
}

.icon-saoyisao:before {
	content: '\e639';
}

.icon-xiaoxi:before {
	content: '\e603';
}

.icon-chankan:before {
	content: '\e661';
}

.icon-shoucang:before {
	content: '\e85e';
}

.icon-check:before {
	content: '\e63d';
}

.icon-checked:before {
	content: '\e64c';
}

.icon-jian:before {
	content: '\e79c';
}

.icon-jia:before {
	content: '\e61d';
}

.icon-laji:before {
	content: '\e91e';
}

.icon-setting:before {
	content: '\e685';
}

.icon-daifukuan:before {
	content: '\e6ca';
}

.icon-daifahuo:before {
	content: '\e6fd';
}

.icon-daishouhuo:before {
	content: '\e63b';
}

.icon-daipingjia:before {
	content: '\e6cb';
}

.icon-tuikuan:before {
	content: '\e708';
}

.icon-qianbao:before {
	content: '\e63f';
}

.icon-qiandao:before {
	content: '\e62e';
}

.icon-fukuanma:before {
	content: '\e7f0';
}

.icon-shitu01:before {
	content: '\e615';
}

.icon-shitu02:before {
	content: '\e605';
}

.icon-shaixuan:before {
	content: '\e66a';
}

.icon-sanjiao:before {
	content: '\e682';
}

.icon-share:before {
	content: '\e620';
}

.icon-diandian:before {
	content: '\e60f';
}

.icon-jiangjia:before {
	content: '\e6b5';
}

.icon-guanzhu-off:before {
	content: '\e606';
}

.icon-guanzhu-on:before {
	content: '\e63e';
}

.icon-kefu:before {
	content: '\e609';
}

.icon-cart:before {
	content: '\e60a';
}

.icon-dingwei:before {
	content: '\e607';
}

.icon-dingwei1:before {
	content: '\e75c';
}

.icon-baozheng:before {
	content: '\e612';
}

.icon-guanzhu:before {
	content: '\e79d';
}

.icon-home:before {
	content: '\e71c';
}

.icon-zuji:before {
	content: '\e6a4';
}

.icon-zan:before {
	content: '\e669';
}

.icon-zhuyi:before {
	content: '\ead1';
}

.icon-close1:before {
	content: '\e64a';
}

.icon-success:before {
	content: '\e979';
}

.icon-duihao:before {
	content: '\e6bf';
}

.icon-user:before {
	content: '\e622';
}

.icon-signin:before {
	content: '\e613';
}

.icon-eye-on:before {
	content: '\e6bb';
}

.icon-eye-off:before {
	content: '\e610';
}

.icon-edit1:before {
	content: '\e617';
}

.icon-qian:before {
	content: '\e611';
}

.icon-houtui:before {
	content: '\e608';
}

.icon-sao:before {
	content: '\e60d';
}
.icon-bofang:before {
	content: '\e745';
}
