.page{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #f6f6f6;
}

/* 用户信息 */
.user-info{
	width: 100%;
	height: 300rpx;
	background-color: #FFFFFF;
	border-radius: 0 0 20rpx 20rpx;
	.user-data{
		display: flex;
		align-items: center;
		padding: 0 4%;
		height: 200rpx;
		.portrait-nickname{
			display: flex;
			align-items: center;
			width: 100%;
			height: 90%;
			.portrait{
				width: 140rpx;
				height: 140rpx;
				image{
					width: 100%;
					height: 100%;
					border-radius: 100%;
				}
			}
			.nickname{
				display: flex;
				align-items: center;
				margin-left: 20rpx;
				height: 140rpx;
				text{
					font-size: 28rpx;
					color: #222222;
				}
			}
		}
		.more{
			display: flex;
			align-items: center;
			text{
				color: #959595;
				font-size: 28rpx;
			}
		}
	}
	.address{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 4%;
		height: 100rpx;
		border-top: 2rpx solid #f6f6f6;
		.title{
			display: flex;
			align-items: center;
			text{
				font-size: 28rpx;
				color: #555555;
			}
		}
		.more{
			display: flex;
			align-items: center;
			text{
				color: #959595;
				font-size: 28rpx;
			}
		}
	}
}

/* 设置列表 */
.setting-list{
	padding: 0 4%;
	background-color: #FFFFFF;
	border-radius: 20rpx;
	margin: 20rpx auto;
	.list{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 100rpx;
		border-bottom: 2rpx solid #f6f6f6;
		.title{
			display: flex;
			align-items: center;
			text{
				font-size: 28rpx;
				color: #222222;
			}
		}
		.more-content{
			display: flex;
			align-items: center;
			.content{
				font-size: 28rpx;
				color: #959595;
			}
			.more{
				font-size: 24rpx;
				color: #959595;
				margin-left: 20rpx;
			}
		}
	}
}

/* 退出登录 */
.quit-login{
	position: fixed;
	left: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100rpx;
	background: #FFFFFF;
	border-radius: 20rpx;
	text{
		color: #222222;
		font-size: 28rpx;
	}
}